<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329676023850-hf9asm3i7evjshpdvrvisb8981mpgi8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329676023850-hf9asm3i7evjshpdvrvisb8981mpgi8q</string>
	<key>API_KEY</key>
	<string>AIzaSyBotVBUwjrH_S2Kxnsarq6gXYXITsSQCnY</string>
	<key>GCM_SENDER_ID</key>
	<string>329676023850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convergent.planit-green</string>
	<key>PROJECT_ID</key>
	<string>planit-green</string>
	<key>STORAGE_BUCKET</key>
	<string>planit-green.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329676023850:ios:bcec7236237603522f3b53</string>
</dict>
</plist>